body {
  background-color: #424949;
  color: #424949;
  font-style: "Lucida Console";
}

section.seccionLogo{
	padding-top: 8%;
	text-align:center;
}
.imgLogo{
	width: 60%;
}
#txtLogo{
	padding-top: 3%;
	padding-left: 28%;
	padding-right: 28%;
	color: #ffeedb;
	font-size: 20px;
}

section.seccionMenu{
	margin-top: 15%;
	padding-top: 2.5%;
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 10%;
	background-color: lightgrey;
	overflow: hidden;
}
.izq{
	display: block;
	float:left;
	padding-left: 5%;
}
.der{
	display: block;
	float:right;
    padding-right: 5%;
}
h2{
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 3em;
}
.tablas{
	text-align:left;
	padding-top: 2.5%;
    font-size: 20px;
	border-collapse: collapse;
}
th,td{
	border-bottom: solid 2px #D2B48C;
	padding:12px;
}
thead{
	color: #A0522D;
	font-size: 1.5em;
	font-family: "Lucida Console", "Courier New", monospace;
}

section.seccionContacto{
    padding: 2%;
    text-align: center;
}
.logosContacto{
	width: 7%;
}
a{
	font-size: 30px;
	text-decoration:none;
	color: #ffeedb;
}

@media screen and (max-width: 1620px){
	.imgLogo{
		width: 100%;
	}
	#txtLogo{
		text-align: center;
		padding-top: 3%;
		padding-left: 5%;
		padding-right: 5%;
		color: #ffeedb;
		font-size: 20px;
	}

	.izq{
		margin: auto;
		width: 49%;
		float:left;
		padding:0;
	}

	.der{
		margin: auto;
		padding-left: 2%;
		width: 49%;
		float:right;
		padding:0;
	}

	.logosContacto{
		width: 12%;
	}
}

@media screen and (max-width: 890px){
	.imgLogo{
		width: 100%;
	}
	#txtLogo{
		text-align: center;
		padding-top: 3%;
		padding-left: 5%;
		padding-right: 5%;
		color: #ffeedb;
		font-size: 20px;
	}

	.izq{
		margin: auto;
		width: 100%;
		float:center;
		padding:0;
	}

	.der{
		margin: auto;
		margin-top: 30px;
		width: 100%;
		float:center;
		padding:0;
	}

	.logosContacto{
		width: 12%;
	}
}